:root {
  --eye-of-newt: #b33939;
  --swan-white: #fff;
  --hot-stone: #aaa69d;
}

* {
  font-family: monospace;
}

body {
  color: var(--swan-white);
  background-image: url(./starwars.jpeg);
  background-position: center;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: center;
}

.title {
  margin: 18px;
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--eye-of-newt);
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.85);
}
.container {
  display: flex;
  justify-content: center;
}
.input-section {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}

#form-button {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--eye-of-newt);
  color: var(--swan-white);
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.submit {
  margin-top: 1rem;
  text-align: center;
}
#form-button:hover {
  background-color: white;
  color: var(--eye-of-newt);
  transition: 0.3s;
}
input,
select,
label {
  font-size: 20px;
  margin: auto;
}

h3 {
  font-size: 1.5rem;
  color: brown;
}
textarea {
  resize: none;
}
